@font-face {
  font-family: "mont";
  src: url("../fonts/montserrat.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "mont-bold";
  src: url("../fonts/montserrat-bold.ttf") format("truetype");
  font-display: swap;
}
